image update.raucb {
	rauc {
		file root.tar.gz { image = "root.tgz" }
		file barebox.bin.TP600 { image = "barebox-imx6q-vtpctp.img" }
		file barebox-compatible-versions { image = "../root/etc/barebox-compatible-versions" }

		file hooks.sh { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks.sh" }
		file hooks/slot-bootloader-install { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks/slot-bootloader-install" }
		file hooks/slot-rootfs-pre-install { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks/slot-rootfs-pre-install" }
		file hooks/slot-home-install { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks/slot-home-install" }
		file hooks/hooks_common { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks/hooks_common" }
		file hooks/slot-rootfs-post-install { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/hooks/slot-rootfs-post-install" }
		file settings_backup_lib_fix_tp_fw15 { image = "../../shared_public/fwupdate/rauc_bundle_conf/update/settings_backup_lib_fix_tp_fw15" }

		manifest = "
			[update]
			compatible=@RAUC_BUNDLE_COMPATIBLE@
			version=@RAUC_BUNDLE_VERSION@
			build=@RAUC_BUNDLE_BUILD@
			description=@RAUC_BUNDLE_DESCRIPTION@

			[hooks]
			filename=hooks.sh

			[image.rootfs]
			filename=root.tar.gz
			hooks=pre-install;post-install

			[image.home]
			filename=hooks.sh
			hooks=install

			[image.bootloader]
			filename=barebox-compatible-versions
			hooks=install

			"
		cert = "@RAUC_CERT@"
		key = "@RAUC_KEY@"
	}
}
