<!DOCTYPE html>
<!--
//------------------------------------------------------------------------------
// Copyright (c) 2024-2025 WAGO GmbH & Co. KG
//
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//------------------------------------------------------------------------------
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>$$PAGE_TITLE$$</title>
  <link rel="shortcut icon" type="image/x-icon" href="$$FAVICON_HREF$$">
  <link rel="stylesheet" href="auth.css">
  <script defer type="module" src="auth.js"></script>
  <script defer type="module" src="password_change.js"></script>
</head>
<body>
  <div taid="viewport" class="viewport $$SILENT_MODE_CLASS$$">
    <div taid="header" class="header">
      <img class="logo" draggable="false" src="images/wago-logo.svg" alt="logo">
    </div>
    <div taid="content" class="content">
      <div taid="center" class="center">
        <h1 taid="heading">Password change</h1>
        <div id="context-info">
          <div class="$$SILENT_MODE_CLASS$$"><b>Hostname: </b><span taid="hostname">$$HOSTNAME$$</span></div>
          <div><b>User: </b><span taid="username">$$USER_NAME$$</span></div>
        </div>
        <div id="messages-container">
          <div class="error-message hidden">
            <span class="message-content" taid="error-message">$$ERROR_MESSAGE$$</span>
            <button class="close-message-btn" taid="close-error-message"></button>
          </div>
          <div class="info-message hidden">
            <span class="message-content" taid="info-message">$$INFO_MESSAGE$$</span>
            <button class="close-message-btn" taid="close-info-message"></button>
          </div>
        </div>
        <form class="login-form" method="POST" enctype="application/x-www-form-urlencoded">
          <input type="hidden" id="username" name="username" value="$$USER_NAME$$">
          <div class="textfield smaller-textfield">
            <label for="old-password">Old password</label>
            <input type="password" id="old-password" taid="old-password" name="password" placeholder="old password" required>
            <span id="old-password-error" class="on-invalid hidden">must not be empty</span>
          </div>
          <div class="textfield smaller-textfield">
            <label for="new-password">New password</label>
            <input type="password" id="new-password" taid="new-password" name="new_password" placeholder="new password" 
              required pattern="[a-zA-Z0-9!&quot;#\$%&'\(\)\*\+,\.\/:;<=>\?@\[\]\^_`\{\|\}~\-]{1,100}"
              title=" 1 to 100 of: a-zA-Z0-9!&quot;#\$%&'\(\)\*\+,\.\/:;<=>?@\[\]\^_`\{\|\}~\-">
            <span id="new-password-error" class="on-invalid hidden">1 to 100 of: a-zA-Z0-9!"#$%&amp;'()*+,./:;&lt;=&gt;?@[]^_`{|}~-</span>
          </div>
          <div class="textfield smaller-textfield">
            <label for="new-password-confirmation">Confirm new password</label>
            <input type="password" id="new-password-confirmation" taid="new-password-confirmation" placeholder="new password" required>
            <span id="new-password-confirmation-error" class="on-invalid hidden">must match new password</span>
          </div>
          <div class="buttons">
            <a taid="cancel" class="cancel-link" href="$$CANCEL_URI$$">Cancel</a>
            <input taid="change" type="submit" value="Change">
          </div>
        </form>
      </div>
    </div>
    <div taid="footer" class="footer">
      <span taid="app-info" class="app-info">$$SERVICE_NAME$$ - Version $$SERVICE_VERSION$$ (API $$API_VERSION$$)</span>
      <span taid="copyright-info" class="copyright-info">Copyright © 2023-2025 WAGO GmbH & Co. KG</span>
    </div>
  </div>
</body>
</html>
