#  Egalax Panel udev.rule
#
KERNEL=="event[0-9]*", SUBSYSTEM=="input", \
  ATTRS{name}=="eGalax Inc. eGalaxTouch P80H84 0133 v00_T0 k4.06.186", \
  SYMLINK+="input/captouch"

